


h1{

background-color: cyan;
text-align: center;

}
*{
	background-color: green;
}
.elementos-enumerado li:first-child{



	color : yellow;
}

.elementos-enumerado li:nth-child(2){



	color : blue;
}
.elementos-enumerado li:last-child{



	color : red;
}




.elementos-puntuado li:first-child{



	color : red;
}

.elementos-puntuado li:nth-child(2){



	color : blue;
}
.elementos-puntuado li:last-child{



	color : yellow;
}


.lista-ordenada{


	color: green;
}

.lista-puntual{


	color: cyan;
}

footer,hr{

clear: left;
	text-align: right;
}


div{

	float:left;

}

.hola{


	float: left;
}

